<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.scut.aicodesmell.mapper.OrderMapper">
    <insert id="insertOrder">
        INSERT INTO process_order(order_id, user_id)
        VALUES (#{orderId}, #{userId})
    </insert>

    <select id="getOrderById" resultType="cn.scut.aicodesmell.common.OrderEntity">
        SELECT order_id,
               user_id,
               order_name,
               create_time,
               order_status,
               doc_url,
               code_url,
               result_url,
               time_cost,
               document_component
        FROM process_order
        WHERE order_id = #{orderId}
          AND deleted = FALSE
    </select>

    <update id="deleteOrder">
        UPDATE process_order
        SET deleted = 1
        WHERE order_id = #{orderId}
          AND deleted = FALSE
    </update>

    <select id="getUserOrderCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM process_order
        WHERE user_id = #{userId}
          AND deleted = FALSE
    </select>

    <select id="batchGetOrderByPage" resultType="cn.scut.aicodesmell.common.OrderEntity">
        SELECT order_id,
               user_id,
               order_name,
               create_time,
               order_status,
               doc_url,
               code_url,
               result_url,
               time_cost,
               document_component
        FROM process_order
        WHERE user_id = #{userId}
          AND deleted = FALSE
        ORDER BY create_time DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <update id="batchDeleteExpiredOrder">
        UPDATE process_order
        SET deleted = 1
        WHERE create_time >= DATE_SUB(CURDATE(), INTERVAL #{differentDays} DAY)
          AND deleted = FALSE
    </update>

    <select id="batchGetDeleteExpiredOrderIds" resultType="java.lang.String">
        SELECT order_id
        FROM process_order
        WHERE create_time >= DATE_SUB(CURDATE(), INTERVAL #{differentDays} DAY)
          AND deleted = FALSE
    </select>

    <update id="updateCodeFilePath">
        UPDATE process_order
        SET code_url = #{path}
        WHERE order_id = #{orderId}
          AND deleted = FALSE
    </update>

    <update id="updateDocFilePath">
        UPDATE process_order
        SET doc_url    = #{path},
            order_name = #{orderName}
        WHERE order_id = #{orderId}
          AND deleted = FALSE
    </update>

    <select id="getOrderStatus" resultType="java.lang.String">
        SELECT order_status
        FROM process_order
        WHERE order_id = #{orderId}
          AND deleted = FALSE
    </select>

    <select id="getExpiredOrders" resultType="cn.scut.aicodesmell.common.OrderEntity">
        SELECT order_id, user_id, create_time, order_status, doc_url, code_url, result_url
        FROM process_order
        WHERE create_time >= DATE_SUB(CURDATE(), INTERVAL #{differentDays} DAY)
          AND deleted = FALSE
    </select>

    <update id="setStatusByProjectId">
        UPDATE process_order
        SET order_status = #{status}
        WHERE order_id = #{orderId}
          AND deleted = FALSE
    </update>

    <update id="setResult">
        UPDATE process_order
        SET result_url         = #{resultUrl},
            order_status       = 'finished',
            document_component = #{jsonComponentsInDocument},
            time_cost          = #{timeCost}
        WHERE order_id = #{orderId}
          AND deleted = FALSE
    </update>

    <update id="updateStatusToProcessing">
        UPDATE process_order
        SET order_status = 'processing'
        WHERE order_id = #{orderId}
          AND deleted = FALSE
    </update>
</mapper>